/******************全局start******************/
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
    height: 100%;
}
body{
    height: 100%;
}
.wrap{
    height: 100%;
    background-color: #68cdd5;
}
/******************通用start******************/

/******************通用end********************/
/******************头部start******************/
header{
    height: 40px;
    background-color: #22292c;
}
/******************头部end********************/

/******************内容start******************/
.content{
    
}
/******************内容end********************/


/******************全局end********************/